.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4rem 1fr repeat(8, 1fr) 2rem 2rem; /*à modifier */
    grid-template-areas:
            "navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
            ". . option option option option option option option option . ."
            ". . textInput textInput textInput . . textTranslated textTranslated textTranslated . ."
            ". . textInput textInput textInput . . textTranslated textTranslated textTranslated . ."
            ". . textInput textInput textInput . . textTranslated textTranslated textTranslated . ."
            ". . textInput textInput textInput translate translate textTranslated textTranslated textTranslated . ."
            ". . textInput textInput textInput translate translate textTranslated textTranslated textTranslated . ."
            ". . textInput textInput textInput . . textTranslated textTranslated textTranslated . ."
            ". . textInput textInput textInput . . textTranslated textTranslated textTranslated . ."
            ". . textInput textInput textInput . . textTranslated textTranslated textTranslated . ."
            ". . . . . . . . . . . ."
            ". . . . . . . . . . . .";
    justify-items: center;
}

/*.radio-input {
    grid-area: option;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem 0 1rem 0;
}*/


.text-input {
    width: 100%;
    height: 100%;
    grid-area: textInput;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr); /*à modifier */
    grid-template-areas:
            "label label label"
            "textArea textArea textArea "
            "textArea textArea textArea "
            "textArea textArea textArea "
            "textArea textArea textArea "
            "textArea textArea textArea "
            "textArea textArea textArea "
            "button button button";
    justify-items: center;
}

.text-input > label {
    grid-area: label;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    align-self: center;
    width: 100%;
    padding: 1rem 0 1rem 0;
    background-color: var(--black);
    color: var(--bg-tertiary-color);
}

.text-input > textarea {
    font-size: 1rem;
    margin: 0;
    padding: 0.3rem;
    grid-area: textArea;
    width: calc(100% - 2px - 0.6rem);
    border: 1px solid var(--black);
    resize: none;
}

.text-input > button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    grid-area: button;
    border: 0;
    cursor: pointer;
    color: var(--bg-tertiary-color);
    background-color: var(--black);
}

.text-translated {
    grid-area: textTranslated;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr); /*à modifier */
    grid-template-areas:
            "label label label"
            "textArea textArea textArea "
            "textArea textArea textArea "
            "textArea textArea textArea "
            "textArea textArea textArea "
            "textArea textArea textArea "
            "textArea textArea textArea "
            "button button button";
    justify-items: center;
}

.text-translated > label {
    grid-area: label;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    align-self: center;
    width: 100%;
    padding: 1rem 0 1rem 0;
    background-color: var(--black);
    color: var(--bg-tertiary-color);
}

.text-translated > textarea {
    font-size: 1rem;
    margin: 0;
    padding: 0.3rem;
    grid-area: textArea;
    width: calc(100% - 2px - 0.6rem);
    border: 1px solid var(--black);
    resize: none;
}

.text-translated > button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    grid-area: button;
    border: 0;
    cursor: pointer;
    color: var(--bg-tertiary-color);
    background-color: var(--black);
}


