{% extends '/layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - About
{% endblock %}

{% block css %}
    {% include 'components/_css.html.twig' %}
{% endblock %}

{% block navbar %}
    {% include 'components/_navbar.html.twig' %}
{% endblock %}

{% block content %}
    <p>There is nothing here my friend.</p>
{% endblock %}