{% extends '/layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Crypt
{% endblock %}

{% block css %}
    {% include 'components/_css.html.twig' %}
{% endblock %}

{% block navbar %}
    {% include 'components/_navbar.html.twig' %}
{% endblock %}

{% block content %}
{#<form class="radio-input">
    <label for="Mode">
        Mode
        <input id="Mode" type="radio" name="shiftEncryption" value="shiftEncryption" checked>
        <input id="Mode" type="radio" name="vigenereCipher" value="vigenereCipher">
    </label>
</form>#}
    <form class="text-input" action="" method="POST">
        <label for="textInput">Text to Crypt</label>
        <textarea id="textInput" name="clearMessage" placeholder="Write the text to encode">{{ clearMessage }}</textarea>
        <button type="submit">Encode !</button>
    </form>
    <form class="text-translated" action="" method="POST">
        <label for="textTranslated">Text to DCrypt</label>
        <textarea id="textTranslated" name="cryptMessage" placeholder="Write the text to decode">{{ cryptMessage }}</textarea>
        <button type="submit">Decode !</button>
    </form>
{% endblock %}