{% extends '/layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block css %}
    {% include 'components/_css.html.twig' %}
{% endblock %}

{% block navbar %}
    {% include 'components/_navbar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="articles-container">
        <div class="articles-container-title">News</div>
        <div class="card-news">
            <div class="card-title-container">
                <div class="card-title">Update 1</div>
                <div class="card-date">10/21/21 à 21h03</div>
            </div>
            <div class="card-news-container">
                <p>Website Launch</p>
                <p>Just the structure and the ShiftEncryption</p>
                <p>Todo: <br>improve the Crypt part to welcome other methods<br>improve the shift encryption<br>improve the design (idc to be honest)</p>
            </div>
        </div>
    </div>

{% endblock %}