{% extends '/layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block css %}
    {% include 'components/_css.html.twig' %}
{% endblock %}

{% block navbar %}
    {% include 'components/_navbar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="articles-container">
        <div class="articles-container-title">News</div>
        <div class="card-news">
            <div class="card-title-container">
                <div class="card-title">News 1</div>
                <div class="card-date">14/02/2021 à 14h32</div>
            </div>
            <div class="card-news-container">
                <p>Magna aptent congue volutpat nunc a mauris molestie molestie. Integer phasellus consectetur feugiat
                    eleifend
                    nam mi ligula ornare taciti nunc ultricies augue. Dictumst ut penatibus euismod fusce aliquet ornare
                    scelerisque quisque per class himenaeos. Dictumst cras viverra bibendum, sapien tellus condimentum
                    ridiculus
                    ullamcorper. Felis penatibus ultricies laoreet gravida duis nostra posuere luctus lorem quisque.
                    Malesuada;
                    ut nam tellus sit fusce iaculis vehicula porta. Convallis metus congue ipsum commodo ac in volutpat
                    sociosqu
                    justo in.</p>
                <p>Magna aptent congue volutpat nunc a mauris molestie molestie. Integer phasellus consectetur feugiat
                    eleifend
                    nam mi ligula ornare taciti nunc ultricies augue. Dictumst ut penatibus euismod fusce aliquet ornare
                    scelerisque quisque per class himenaeos. Dictumst cras viverra bibendum, sapien tellus condimentum
                    ridiculus
                    ullamcorper. Felis penatibus ultricies laoreet gravida duis nostra posuere luctus lorem quisque.
                    Malesuada;
                    ut nam tellus sit fusce iaculis vehicula porta. Convallis metus congue ipsum commodo ac in volutpat
                    sociosqu
                    justo in.</p>
            </div>
        </div>
        <div class="card-news">
            <div class="card-title-container">
                <div class="card-title">News 2</div>
                <div class="card-date">14/02/2021 à 14h32</div>
            </div>
            <div class="card-news-container">
                <p>Magna aptent congue volutpat nunc a mauris molestie molestie. Integer phasellus consectetur feugiat
                    eleifend
                    nam mi ligula ornare taciti nunc ultricies augue. Dictumst ut penatibus euismod fusce aliquet ornare
                    scelerisque quisque per class himenaeos. Dictumst cras viverra bibendum, sapien tellus condimentum
                    ridiculus
                    ullamcorper. Felis penatibus ultricies laoreet gravida duis nostra posuere luctus lorem quisque.
                    Malesuada;
                    ut nam tellus sit fusce iaculis vehicula porta. Convallis metus congue ipsum commodo ac in volutpat
                    sociosqu
                    justo in.</p>
                <p>Magna aptent congue volutpat nunc a mauris molestie molestie. Integer phasellus consectetur feugiat
                    eleifend
                    nam mi ligula ornare taciti nunc ultricies augue. Dictumst ut penatibus euismod fusce aliquet ornare
                    scelerisque quisque per class himenaeos. Dictumst cras viverra bibendum, sapien tellus condimentum
                    ridiculus
                    ullamcorper. Felis penatibus ultricies laoreet gravida duis nostra posuere luctus lorem quisque.
                    Malesuada;
                    ut nam tellus sit fusce iaculis vehicula porta. Convallis metus congue ipsum commodo ac in volutpat
                    sociosqu
                    justo in.</p>
            </div>
        </div>

    </div>

{% endblock %}