<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DCrypt{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
<div class="main-container">
    {% block navbar %}

    {% endblock %}
    {% block content %}

    {% endblock %}
</div>
</body>
</html>